.scatterplot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.scatterplot-card {
  width: 75%;
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: white;
}

.scatterplot-title {
  margin-bottom: 16px;
  font-size: 1.5rem;
  color: #333;
}
