.scatterplot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.scatterplot-card {
  width: 75%;
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: white;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 3px red);
  }
  50% {
    filter: drop-shadow(0 0 6px red);
  }
  100% {
    filter: drop-shadow(0 0 3px red);
  }
}

.glowing-dot {
  animation: glow 2s infinite alternate;
}

.scatterplot-title {
  margin-bottom: 16px;
  font-size: 1.5rem;
  color: #333;
}

.gpg {
  color: #c21616;
}

.balance {
  color: #81a538;
}

.custom-tooltip {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  max-width: 250px;
  transition: all 0.2s ease;
}

.custom-tooltip p {
  margin: 0;
  padding: 4px 0;
  line-height: 1.4;
}

.custom-tooltip p strong {
  color: #555;
}

.custom-tooltip::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.custom-tooltip:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.employer-name {
  font-weight: bold;
  font-size: 1.2em;
}

.text-red-500 {
  color: red;
}

.text-blue-500 {
  color: blue;
}

.text-green-500 {
  color: green;
}

.text-yellow-500 {
  color: orange;
}

.remuneration-amount {
  font-weight: bold;
  color: #4caf50; /* Green */
}

.leadership-women {
  font-weight: bold;
  color: #ff9800; /* Orange */
}
